* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    background: whitesmoke;
    color: darkslategrey;
    line-height: 32px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header {
    font-weight: 600;
    line-height: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    border-radius: 2%;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

figure {
    display: flex;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 250px;
    z-index: 2;
    margin: 40px auto;
}

.header_img {    
    border-radius: 50%;
    border: 5px solid lightblue;
}

main {
    width: 60%;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    border-radius: 2%;
}


.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
    background-color: lightblue;
}